{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a live documentation of Talentlink RESTful services.\n\nYou will find detailed descriptions on how to use the TalentLink Exchange API to build your integrations in Developers Guide.\n\nTo use this documentation and call first go to green <span class=\"bold-span\">\"Authorize\"</span> button and provide your credentials. Once you do this you will be able to call the API directly from this page. However, if you only wish to check the syntax or list the filters then credentials are not mandatory.\n\nTo write a query, go to any method, expand it and press <span class=\"bold-span\">\"Try it out\"</span> button. It will display the method details window where in case of GET methods you will be able to write the query and check the filters.\n\nYou will also notice some of the methods have more specific details in their descriptions.\n\n<span class=\"bold-span\">QuickTip:</span> when writing the GraphQL query you can use CTRL + SPACE to see suggestions of the available schemas/tags.",
    "version" : "23.1-SNAPSHOT",
    "title" : "Talentlink REST API Documentation"
  },
  "host" : "apiproxy.shared.lumessetalentlink.com",
  "basePath" : "/tlk/rest",
  "tags" : [ {
    "name" : "Application API",
    "description" : "- allows fetching applications of candidates."
  }, {
    "name" : "Assessment Provider API",
    "description" : "- Provides methods for Assessment Providers & Background checking. Queues API are also required."
  }, {
    "name" : "Campaign API",
    "description" : "- provides methods for developers to manage campaigns"
  }, {
    "name" : "Candidate API",
    "description" : "- set of methods for advanced candidate management"
  }, {
    "name" : "Candidate Pools",
    "description" : "- allows managing, creating, editing and assignment of Candidate Pools"
  }, {
    "name" : "Contract API",
    "description" : "- allows complete management of the contracts for temporary and permanent employees. This includes setting the rates, timesheets, mid period changes, cost centres and Timesheet approvers"
  }, {
    "name" : "Department API",
    "description" : "- allows managing the organization chart from another external system. Administrators can create unlimited levels of organization, edit their properties, move, deactivate and delete them if required."
  }, {
    "name" : "Interview Location API",
    "description" : "- provides methods for developers to manage interview locations."
  }, {
    "name" : "LOV API",
    "description" : "- Allows to fetch details of all types of LOVs"
  }, {
    "name" : "LOV API - Standard Fields",
    "description" : "- Provides methods to manage values of Standard LOVs"
  }, {
    "name" : "LOV API - User data",
    "description" : "- Provides methods to manage values of User Data LOVs"
  }, {
    "name" : "Location API",
    "description" : "- provides methods for developers to manage job locations."
  }, {
    "name" : "Password Rule API",
    "description" : "- provides method to read password rules."
  }, {
    "name" : "Personal job template API",
    "description" : "- provides methods to manage personal job templates."
  }, {
    "name" : "Position API",
    "description" : "- methods to manage Positions"
  }, {
    "name" : "Published Advert API",
    "description" : "- provides methods to build career websites based on adverts posted from Talentlink."
  }, {
    "name" : "Queues API",
    "description" : "- Global operations on queues: deleting elements from queue, list of all queues, import & export of queues etc. "
  }, {
    "name" : "Queues API - Application",
    "description" : "- Allows to fetch Application details from queue"
  }, {
    "name" : "Queues API - Archived Candidate",
    "description" : "- Methods to fetch data of archived candidates from queue"
  }, {
    "name" : "Queues API - Candidates",
    "description" : "- Allows to fetch Candidate  details from queue"
  }, {
    "name" : "Queues API - Contract",
    "description" : "- Allows to fetch Contract details from queue"
  }, {
    "name" : "Queues API - External System Request",
    "description" : "- Allows to fetch External Assessment Providers Requests details from queue"
  }, {
    "name" : "Queues API - Position (Requisitions)",
    "description" : "- Allows to fetch Position / Requisition details from queue"
  }, {
    "name" : "Queues API - Posting (Adverts)",
    "description" : "- Allows to fetch Advert details from queue"
  }, {
    "name" : "Queues API - Selection Step",
    "description" : "- Allows to fetch details of Selection Steps from the queue"
  }, {
    "name" : "Queues API - Timesheets",
    "description" : "- Allows to fetch details of candidates’ Timesheets from the queue"
  }, {
    "name" : "Queues API - Users",
    "description" : "- allows to fetch details of Users from the queue"
  }, {
    "name" : "Role API",
    "description" : "- allows to get Talentlink roles. "
  }, {
    "name" : "Search Agent API",
    "description" : "- provides methods for developers to manage search agent."
  }, {
    "name" : "Selection Process API",
    "description" : "- Provides method that allow to perform basic operations on selection steps for a given candidate"
  }, {
    "name" : "Timesheet API",
    "description" : "- Provides methods to manage Timesheets for a given candidate (submit, approve, reject, retrieve details)"
  }, {
    "name" : "User API",
    "description" : "- provides methods to manage Talentlink users."
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/agency" : {
      "get" : {
        "tags" : [ "Contract API" ],
        "summary" : "List of agencies",
        "description" : "Returns a list of agencies. DTO structure depends on a GraphQL query.",
        "operationId" : "retrieveAgencies",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ agencies(first: 10, after: 0, where: {agencyId_gt: 0}) { agencyId } }"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DepartmentGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/application" : {
      "get" : {
        "tags" : [ "Application API" ],
        "summary" : "List of applications",
        "description" : "Returns a list of applications. DTO structure depends on a GraphQL query.",
        "operationId" : "getApplications",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ applications(first: 10, after: 0, where: {id_gt: 0}) { id } }"
        }, {
          "name" : "stream",
          "in" : "query",
          "description" : "Enables streaming mode",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApplicationGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/application/available-statuses" : {
      "get" : {
        "tags" : [ "Application API" ],
        "summary" : "retrieves application statuses",
        "description" : "This method allows to retrieve all application statuses for a given language. Method returns a list from operation.",
        "operationId" : "getApplicationsStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "langCode",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "enum" : [ "AR", "AT", "BG", "BR", "CA", "CH", "CN", "CS", "CY", "DE", "DN", "EL", "US", "EN", "ET", "FL", "FN", "FR", "GL", "HR", "HU", "ID", "IS", "IT", "JA", "KO", "LT", "LV", "MX", "MY", "NL", "NW", "PL", "PT", "RO", "RU", "SK", "SL", "SP", "SR", "SW", "TH", "TR", "TW", "UA", "UK", "VI", "WA", "XX" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Application statuses retrieved successfully",
            "schema" : {
              "$ref" : "#/definitions/AvailableApplicationStatusesDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to retrieve application statuses",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/application/status" : {
      "put" : {
        "tags" : [ "Application API" ],
        "summary" : "Updates application status",
        "description" : "This method allows to update application status for a given application ID. It works in the same way as manual change of appliciation status in Talentlink BO. Method returns a report from operation.",
        "operationId" : "updateApplicationsStatus",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "statuses",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ApplicationsStatusDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Application status update processed",
            "schema" : {
              "$ref" : "#/definitions/ApplicationsStatusReportDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to change application status",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/application/{applicationId}/update-application-context" : {
      "get" : {
        "tags" : [ "Application API" ],
        "summary" : "Generates JWT token to be used in Apply API for updating an existing general application in TLK",
        "description" : "This method allows to update an existing general application record (referenced by Application ID) instead of creating a new record or relying on a merge rules configured in TalentLink. JWT token returned by this endpoint should be used while calling Apply API. Please refer to Apply API documentation (Submissions endpoint) for further details.",
        "operationId" : "generateUpdateApplicationContextToken",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "applicationId",
          "in" : "path",
          "description" : "Application ID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Application update possible for given Application ID",
            "schema" : {
              "$ref" : "#/definitions/ApplicationsStatusReportDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/assessment-provider/results-template/{systemName}" : {
      "get" : {
        "tags" : [ "Assessment Provider API" ],
        "summary" : "Method returns the structure of a form to be used for uploading results",
        "description" : "<p>In the configuration of the External System Provider there is a dedicated form assigned.That form is used to upload the results and in some cases scoring. This method returns the structure of the configured form.System Name is to be provided (which is the name which is setup in the External System configuration).This structure can then be used in <b>submitResults</b> method.</p>",
        "operationId" : "getResultsTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "systemName",
          "in" : "path",
          "description" : "systemName",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "showLocalizedValue",
          "in" : "query",
          "description" : "showLocalizedValue",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "localizedValueLangCode",
          "in" : "query",
          "description" : "localizedValueLangCode",
          "required" : false,
          "type" : "string",
          "enum" : [ "AR", "AT", "BG", "BR", "CA", "CH", "CN", "CS", "CY", "DE", "DN", "EL", "US", "EN", "ET", "FL", "FN", "FR", "GL", "HR", "HU", "ID", "IS", "IT", "JA", "KO", "LT", "LV", "MX", "MY", "NL", "NW", "PL", "PT", "RO", "RU", "SK", "SL", "SP", "SR", "SW", "TH", "TR", "TW", "UA", "UK", "VI", "WA", "XX" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Results template structure successfully fetched",
            "schema" : {
              "$ref" : "#/definitions/StructuredDocumentDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/assessment-provider/submit-report" : {
      "post" : {
        "tags" : [ "Assessment Provider API" ],
        "summary" : "Allows an assessment provider to submit a physical file containing a report of the candidate's assessment.",
        "description" : "<p>Method allows an assessment provider to submit a physical file containing a report of the candidate's assessment. Such file usually contains more descriptive information about the results. Uploaded file is visible in TalentLink and is linked to Selection Step which was used to trigger the assessment. <b>RequestID</b> contains the unique correlation ID which is generated by TalentLink (it is visible in the Queue and also on the Selection Step</p>",
        "operationId" : "submitReport",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "submitReportRequest",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/SubmitReportRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OperationResultDto"
            }
          },
          "201" : {
            "description" : "Report submitted"
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/assessment-provider/submit-resource" : {
      "post" : {
        "tags" : [ "Assessment Provider API" ],
        "summary" : "Allows to pass the assessment URL to TalentLink",
        "description" : "<p>The Assessment Provider API needs to be used with Queues API.</p></br><p><b>Work Flow</b></p><p>A typical work flow would be:</p><ul><li><p>A recruiter starts the candidate's selection step which is linked to an assessment.</p></li><li><p>The request is added to a Queue which usually is monitored by the assessment provider. Optionally queues are also able to send out notifications to the specified endpoint.</p></li><li><p>The assessment provider calls the Queue web service to retrieve details of the request (especially the <b>RequestID</b> which identifies the selection step which was used).</p></li><li><p>Provider registers candidate.</p></li><li><p>The assessment provider calls the Queue web service to remove the request from the queue.</p></li><li><p>Provider calls <b>submitResource</b> method to pass the URL for the candidate to take the assessment.</p></li><li><p>Once the URL is provided an email containing the URL is sent to the candidate by TalentLink.</p></li><li><p>Candidate takes assessment.</p></li><li><p>Provider sends results back either as a report (<b>submitReport</b>)or as a TalentLink defined form (<b>submitResults</b>).</p></li><li><p>Provider use <b>submitStatus</b> method  to send 'Completed' value as status.  This action closes the selection step and automatically proceeds or reject Candidate to next selection step based on auto-scoring rules set-up within the dedicated form in TalentLink.</p></li></ul>",
        "operationId" : "submitResource",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "submitResourceRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SubmitResourceRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Resource submitted",
            "schema" : {
              "$ref" : "#/definitions/OperationResultDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/assessment-provider/submit-results" : {
      "post" : {
        "tags" : [ "Assessment Provider API" ],
        "summary" : "Allows an assessment provider to submit a structured document (form) containing results.",
        "description" : "<p>After using <b>getResultsTemplate</b> method and fetching the structure of the form configured in the External System settings the obtained structure should be used to upload the results and scoring.</p>",
        "operationId" : "submitResults",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "submitResultsRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SubmitResultsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Result submitted",
            "schema" : {
              "$ref" : "#/definitions/OperationResultDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/assessment-provider/submit-status" : {
      "post" : {
        "tags" : [ "Assessment Provider API" ],
        "summary" : "Allows an assessment provider to update the status of a candidate's assessment & selection step.",
        "description" : "This method allows to send the status of the assessment and close the selection step, which allows for the next steps to be started (or candidate to be rejected) based on the scoring.",
        "operationId" : "submitStatus",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "submitStatusRequest",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SubmitStatusRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Status submitted",
            "schema" : {
              "$ref" : "#/definitions/OperationResultDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/campaign/type" : {
      "put" : {
        "tags" : [ "Campaign API" ],
        "summary" : "Assign campaign types to candidates",
        "description" : "",
        "operationId" : "assignCampaignTypesToCandidates",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "campaign type assignment data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CampaignTypeAssignmentDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Campaign types successfully assigned"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "List of candidates",
        "description" : "Returns a list of candidates. DTO structure depends on a GraphQL query.",
        "operationId" : "getCandidates",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ candidates(first: 10, after: 0, where: {id_gt: 0}) { id } }"
        }, {
          "name" : "stream",
          "in" : "query",
          "description" : "Enables streaming mode",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CandidateGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Creates Candidate",
        "description" : "<p>This method allows to create candidates in Talentlink. Please note it creates a basic candidate record based on a set of standard fields.</p><p>Before creating the candidate: If you wish to know the structure of the fields in Candidate Summary for a given department (and also indication of required fields) please call below method:</br> GET candidate/summary/{templateType} - where a template type needs to be provided on entry and the response contains the fields structure for a given template and candidate type (i.e. internal, external, temporary, contractor).</p><p>Please note that candidate in Talentlink must have a context (Position or Candidate Pool).Therefore when creating the candidate one of the below parameters must be used:</br>\"openingId\" - ID of the position (job/requisition).\n</br>\"poolId\" - ID of the candidate Pool.\n</p><p>NOTE: One of them must be used  (both parameters can also be used).</p><p>If you wish to add LOVS, FFF or any custom fields after you create the basic record then you need to run below method:</br>PUT: /candidate/{candidateId}/summary - Update Candidate Summary</p></br><p>List of possible consent statuses:</p><ul>  <li><b>GRANTED</b></li>   <li><b>REVOKED_BY_USER</b></li>    <li><b>NOT_REQUESTED</b></li>  </ul>",
        "operationId" : "createCandidate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "new candidate data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicCandidateDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Candidate successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/application/score" : {
      "put" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Update Candidate Application Score",
        "description" : "",
        "operationId" : "updateScore",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "new candidate sumary data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateApplicationScoreDto"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Candidate application score successfully updated"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/archive/mark" : {
      "patch" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Mark candidates for archiving",
        "description" : "",
        "operationId" : "markCandidatesForArchiving",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Candidate list",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CandidateListDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Eligible candidates were marked for archiving. There is returned structure with list of all input candidates and their archiving statuses. If a candidate cannot be marked for archiving then this information is returned in a response structure.",
            "schema" : {
              "$ref" : "#/definitions/ArchivingSummariesDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/archive/unmark" : {
      "patch" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Unmark candidates from archiving",
        "description" : "",
        "operationId" : "unmarkCandidatesFromArchiving",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Candidate list",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CandidateListDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Eligible candidates were unmarked from archiving. There is returned structure with list of all input candidates and their archiving statuses. If a candidate cannot be unmarked from archiving then this information is returned in a response structure.",
            "schema" : {
              "$ref" : "#/definitions/ArchivingSummariesDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/attachment/{documentId}" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Download candidate attachment file",
        "description" : "<p>This method allows to fetch all documents that were uploaded manually, as attachments linked to specific candidate.</br>Such documents can include Resumes, Cover Letters, Emails etc. Usually they are uploaded after the candidate is created via API or manually in Talentlink by the user.</p><p>List of all types of attachment types:<ul><li>RESUME,</li><li>COVER_LETTER,</li><li>MAIL,</li><li>OFFER_LETTER,</li><li>OTHER.</li></ul></p><p>NOTE: This method returns ONLY attachments.</br> For the list of structured documents that are part of Application or Selection processes please call GET/candidate/documents/{documentId} endpoint.</p>",
        "operationId" : "getAttachment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "description" : "Id of attachment document",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Document found"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have access to this document",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/consent" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "List of consents",
        "description" : "Returns a list of consents. DTO structure depends on a GraphQL query.",
        "operationId" : "getConsents",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ consents (first: 10, after: 0, where: {id_gt: 0}) { id } }"
        } ],
        "responses" : {
          "200" : {
            "description" : "Candidate consent successfully returned",
            "schema" : {
              "$ref" : "#/definitions/ConsentGraphQlWrapperDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to candidate consent",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/document/{documentId}" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Download candidate document",
        "description" : "<p>This method allows to fetch all structured documents of the candidate. </br>Structured documents are pre defined in Talentlink as templates and are usually used & created as part of theapplication process (typically Questionnaires, PIF etc.) or as part of Selection process (Feedback Forms etc.).</br>List of all types of the documents that can appear in the response can be found POSSIBLE_DOCUMENT_TYPE_VALUES_PLACEHOLDER.</p><p>NOTE: This method returns ONLY structured documents.</br>For the list of documents uploaded by the user during creation of the candidate manually (CREATE method)please call GET/candidate/attachment/{documentId} endpoint.</p>",
        "operationId" : "getDocument",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "documentId",
          "in" : "path",
          "description" : "Id of attachment document",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Document found"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have access to this document",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/summary/{templateType}" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Fetch Candidate summary structure for a given template type or candidate type",
        "description" : "This method allows to fetch Candidate summary structure for a given template type or candidate type before creation of a candidate. In Talentlink there can be deifferent Candidate Summary structures depending on the candidate type (internal/external) and employee type (permanent / contractor). Therefore it is sometimes necessary to fetch the correct structure of the fields.",
        "operationId" : "getCurrentCStemplate",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "templateType",
          "in" : "path",
          "description" : " it can accept following values: candidate, employee, externalContractor, internalContractor.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "localizedValueLangCode",
          "in" : "query",
          "description" : " language parameter",
          "required" : false,
          "type" : "string",
          "enum" : [ "AR", "AT", "BG", "BR", "CA", "CH", "CN", "CS", "CY", "DE", "DN", "EL", "US", "EN", "ET", "FL", "FN", "FR", "GL", "HR", "HU", "ID", "IS", "IT", "JA", "KO", "LT", "LV", "MX", "MY", "NL", "NW", "PL", "PT", "RO", "RU", "SK", "SL", "SP", "SR", "SW", "TH", "TR", "TW", "UA", "UK", "VI", "WA", "XX" ]
        }, {
          "name" : "showLocalizedValue",
          "in" : "query",
          "description" : " this parameters controls whether the field values display localized or unlocalized values. Possible values: true, false.",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Candidate summary definition successfully returned"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to Candidate Summary",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Template not found",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{candidateId}" : {
      "delete" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Delete candidate",
        "description" : "",
        "operationId" : "deleteCandidate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "candidateId",
          "in" : "path",
          "description" : "Id of the candidate",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Candidate was deleted completely (response field 'candidateDeletedCompletely' set to true) or partially (response field 'candidateDeletedCompletely' set to false). Candidate deletion depends on API user rights.",
            "schema" : {
              "$ref" : "#/definitions/CandidateDeletionStatusDto"
            }
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{candidateId}/consent" : {
      "put" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Update the candidate consent",
        "description" : "",
        "operationId" : "updateConsents",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "candidateId",
          "in" : "path",
          "description" : "Id of the candidate",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "new candidate consent data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/UpdateConsentDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Consent updated"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to update consent",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{candidateId}/linktojob" : {
      "put" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Link candidate to one or more jobs",
        "description" : "",
        "operationId" : "linkToJob",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "candidateId",
          "in" : "path",
          "description" : "Id of candidate which will be linked to job/s",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "linkToJobsDto",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/LinkToJobsDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Candidate linked"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to link candidate",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{candidateId}/summary" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Fetch candidate summary for a given Candidate.",
        "description" : "",
        "operationId" : "getSummary",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "candidateId",
          "in" : "path",
          "description" : "Id of candidate whom candidate summary is requested",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "langCode",
          "in" : "query",
          "description" : "Language of localized values",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Candidate summary successfully returned"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to candidate summary of candidate",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Update Candidate Summary",
        "description" : "<p>After creating the candidate you may wish to add extra fields defined in the summary.</p><p>Before calling this method you may want to use GET/candidate/{candidateId}/summary/definition method to fetch the structure of the form</p>",
        "operationId" : "updateSummary",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "candidateId",
          "in" : "path",
          "description" : "Id of candidate whom candidate summary will be updated",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "new candidate sumary data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/AnsweredDto"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Candidate summary successfully updated"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to update candidate summary",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{candidateId}/summary/definition" : {
      "get" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Fetch empty Candidate Summary structure for existing candidate. Useful for updating candidate",
        "description" : "<p>This method returns the empty structure of the candidate summary along with all the possible values for a given candidateID.</p><p>Main template for the summary can be edited, while existing candidate may have older version of the form.</p><p>With this method user can view the exact structure of the existing candidate summary along with the possible values</p>",
        "operationId" : "getSummaryForm",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "candidateId",
          "in" : "path",
          "description" : "Id of candidate whom candidate summary is requested",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Candidate summary definition successfully returned"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to Candidate Summary Definition",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{id}/tag" : {
      "post" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Add tag to candidate",
        "description" : "",
        "operationId" : "addTag",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "candidate id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "tag",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CandidateTagAssignmentDto"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Tag added to candidate."
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{id}/tag/{tagId}" : {
      "delete" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Remove tag from candidate",
        "description" : "",
        "operationId" : "deleteTag",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "candidate id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "tagId",
          "in" : "path",
          "description" : "document",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "204" : {
            "description" : "Tag removed from candidate."
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidate/{id}/upload/document" : {
      "post" : {
        "tags" : [ "Candidate API" ],
        "summary" : "Upload candidate document",
        "description" : "",
        "operationId" : "uploadDocument",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "candidate id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "document",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CandidateDocumentDto"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "File uploaded."
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "403" : {
            "description" : "User does not have the right to perform this operation",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/candidatepool" : {
      "get" : {
        "tags" : [ "Candidate Pools" ],
        "summary" : "Returns the list of shared candidate pools available to the user",
        "description" : "<p>Candidate Pools allow to group candidates in specific sets. <br/>These sets can be then used for filtering purposes and to build a potential Talent base for future job opprtunities.<br/>Pools can be used to group candidates by skills, particular positions etc.<br/>there are two types of Pools in Talentlink:<br/>- users's private Pool (each user has one by default) - contents of this Pooll cannot be shared with other users.<br/>- shared Pool which is assigned to a specific Department. Users with access to candidates from this department are be able to see & add/remove candidates to/from this pool.</p><br/><p>This method returns all the details of existing Candidate Pool(s) that are available to view by the user.<br/>It is possible to filter the response based on the GrapQL logic and to get one or more pool details.</p>",
        "operationId" : "retrieve",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ candidatePools(first: 10, after: 0, where: {id_gt: 0}) { id } }"
        }, {
          "name" : "stream",
          "in" : "query",
          "description" : "Enables streaming mode",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/CandidatePoolGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Candidate Pools" ],
        "summary" : "Method to create a new, shared Candidate Pool",
        "description" : "This method allows the user to create a new Shared pool. \nPlease note, that the Pool needs to be assigned to a specific Department of the company so that users of this department could view the contents of it. ",
        "operationId" : "createPool",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "candidate pool",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CandidatePoolCreationDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Candidate Pool was successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User has no right Can Manage Candidate Pools via Rest API (1019) for the given department",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/candidatepool/{poolId}" : {
      "put" : {
        "tags" : [ "Candidate Pools" ],
        "summary" : "allows to update or delete existing pool",
        "description" : "This method allows the user to update or delete existing pool. \nUser needs to provide the ID  of the Pool he wish to modify. ",
        "operationId" : "updatePool",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "name" : "poolId",
          "in" : "path",
          "description" : "candidatepool id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "candidate pool",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/CandidatePoolCreationDto"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Candidate Pool was successfully updated"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User has no right Can Manage Candidate Pools via Rest API (1019) for the given department",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Candidate Pool not found"
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        } ]
      }
    },
    "/contract" : {
      "get" : {
        "tags" : [ "Contract API" ],
        "summary" : "List of contracts",
        "description" : "Returns a list of contracts. DTO structure depends on a GraphQL query.",
        "operationId" : "getContract",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ contracts(first: 10, after: 0, where: {id_gt: 0}) { id } }"
        }, {
          "name" : "stream",
          "in" : "query",
          "description" : "Enables streaming mode",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ContractGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Contract API" ],
        "summary" : "Creates a new contract",
        "description" : "<p>This method allows to create a contract for the candidate. Contract contents are separately configured in Talentlink.Therefore before you create a contract you may want to use below methods to fetch the configuration first: </br>Method: GET/department/{departmentId}/contractorcontract/config - Fetch configuration of the Temporary contract </br>Method: GET/department/{departmentId}/permanentcontract/config - Fetch configuration of the Permanent contract</p><p>Please also note that each position has a defined Selection Process assigned. So for the contract to be created via API all of the restrictions of Selection Process need to be fulfilled first (all the necessary steps need to be closed). Otherwise it will be impossible to create the contract</p><p>Optionally there can be a dedicated Selection Process created where there are no restrictions before hiring. In both cases however please be aware that the PreScreening step is always mandatory in Talentlink.</p><p>It is possible to close the PreScreening step using the dedicated method in Selection Process API:<br>PUT/selection-process/application/{applicationId}/completePrescreening</p>",
        "operationId" : "create",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "409" : {
            "description" : "Contract for given application already exists",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be created",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/contract/rateset" : {
      "get" : {
        "tags" : [ "Contract API" ],
        "summary" : "List of rate formula set",
        "description" : "Returns a list of rate formula set. DTO structure depends on a GraphQL query.",
        "operationId" : "getRateSets",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ ratesFormulas(first: 10, after: 0, where: {id_gt: 0}) { id } }"
        }, {
          "name" : "stream",
          "in" : "query",
          "description" : "Enables streaming mode",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RateFormulaSetGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/contract/{contractId}" : {
      "delete" : {
        "tags" : [ "Contract API" ],
        "summary" : "Delete a Contract Extension",
        "description" : "<p>This method allows to delete an accepted Extension of the existing contract. To delete it you need to provide the ID of the accepted contract extension which is to be deleted.</p>",
        "operationId" : "deleteExtension",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "contractId",
          "in" : "path",
          "description" : "Id of the contract's extension to delete",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "204" : {
            "description" : "Contract extension successfully deleted"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/contract/{contractId}/extension" : {
      "post" : {
        "tags" : [ "Contract API" ],
        "summary" : "Create a new Contract Extension",
        "description" : "<p>This method allows to create an Extension of the existing temporary contract. To create it you need to provide the ID of the contract which is to be extended.</p><p>NOTE: Extension start / end dates should not overlap with already existing contacts or extensions.</p>",
        "operationId" : "extend",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "contractId",
          "in" : "path",
          "description" : "Id of the contract's current version",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be extended",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Contract API" ],
        "summary" : "Create a new Contract Extension based on contract values, using PATCH logic (provide only elements that are changing)",
        "description" : "<p>This method allows to create an Extension of the existing temporary contract. To create it you need to provide the ID of the contract which is to be extended.</p><p>NOTE: Extension start / end dates should not overlap with already existing contacts or extensions.</br>If you wish to delete a value you need to use POST method.</p>",
        "operationId" : "extendPatch",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "contractId",
          "in" : "path",
          "description" : "Id of the contract's current version",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be extended",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/contract/{contractId}/update" : {
      "post" : {
        "tags" : [ "Contract API" ],
        "summary" : "Update existing contract (creates new contract version) - entire structure is required",
        "description" : "<p>This method allows to update the existing extension using POST logic.</p><p>It means that you need to provide all contract details even for the fields you do not wish to change. Therefore it is advised to call GET/contract first and cache the information and only then use the POST method.</p><p>This type of update is faster in terms of response as the system does not need to cache any data.</p><p>Please note:  if you use an empty tag in this method it means you wish to set it to  \"null\" value.</p>",
        "operationId" : "update",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "contractId",
          "in" : "path",
          "description" : "Id of the contract's current version",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully updated"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "409" : {
            "description" : "Contract for given id is not the current version",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be updated",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Contract API" ],
        "summary" : "Update contract using PATCH logic (provide only elements that are changing)",
        "description" : "<p>This method allows to update the existing contract using PATCH logic. It means that you do not need to provide all contract details (like when using POST). Instead you can only use the elements which you wish to update. All other unused tags will be copied from the previous contract and remain unchanged.</p><p>Please note:  if you wish to delete a value you need to use POST method</p>",
        "operationId" : "patch",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "contractId",
          "in" : "path",
          "description" : "Id of the contract's current version",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully updated"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "409" : {
            "description" : "Contract for given id is not the current version",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be updated",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/contract/{extensionId}/extension/update" : {
      "post" : {
        "tags" : [ "Contract API" ],
        "summary" : "Update existing extension (creates new extension version) - entire structure is required",
        "description" : "<p>This method allows to update the existing extension using POST logic.</p><p>It means that you need to provide all contract details even for the fields you do not wish to change. Therefore it is advised to call GET/contract first and cache the information and only then use the POST method.</p><p>This type of update is faster in terms of response as the system does not need to cache any data.</p><p>Please note:  if you use an empty tag in this method it means you wish to set it to  \"null\" value.</p>",
        "operationId" : "updateExtension",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "extensionId",
          "in" : "path",
          "description" : "Id of the contract's extension",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be extended",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "patch" : {
        "tags" : [ "Contract API" ],
        "summary" : "Update extension using PATCH logic (provide only elements that are changing)",
        "description" : "<p>Details: This method allows to update the existing extension using PATCH logic. It means that you do not need to provide all contract details (like when using POST). Instead you can only use the elements which you wish to update. All other unused tags will be copied from the previous contract and remain unchanged.</p><p>Please note:  if you wish to delete a value you need to use POST method</p>",
        "operationId" : "patchExtension",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "extensionId",
          "in" : "path",
          "description" : "Id of the contract's extension",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "contract",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicContractDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Contract successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "404" : {
            "description" : "Contract with given id does not exist",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "412" : {
            "description" : "Contract for given application cannot be extended",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/department" : {
      "get" : {
        "tags" : [ "Department API" ],
        "summary" : "List of departments",
        "description" : "Returns a list of departments. DTO structure depends on a GraphQL query.",
        "operationId" : "retrieveDepartments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "This is a GraphQL query parameter. You can find more about GraphlQL [here](https://graphql.org/learn/ \"Go to the GraphQL official documentation\").",
          "required" : true,
          "type" : "string",
          "default" : "{ departments(first: 10, after: 0, where: {id_gt: 0}) { id } }"
        }, {
          "name" : "stream",
          "in" : "query",
          "description" : "Enables streaming mode",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DepartmentGraphQlWrapperDto"
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Department API" ],
        "summary" : "Creates a new department",
        "description" : "",
        "operationId" : "createDepartment",
        "consumes" : [ "application/json" ],
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "departments",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicDepartmentDto"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Department successfully created"
          },
          "400" : {
            "description" : "Invalid parameters provided",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          },
          "401" : {
            "description" : "User does not have the right",
            "headers" : {
              "X-Request-Error" : {
                "type" : "string",
                "description" : "The detailed error message description"
              }
            }
          }
        },
        "security" : [ {
          "username" : [ ]
        }, {
          "password" : [ ]
        }, {
          "apiKey" : [ ]
        }, {
          "access-token" : [ ]
        } ]
      }
    },
    "/department/{departmentId}" : {
      "put" : {
        "tags" : [ "Department API" ],
        "summary" : "Updates an existing department",
        "description" : "",
        "operationId" : "updateDepartment",
        "consumes" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "departments",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/BasicDepartmentDto"
          }
        }, {
          "name" : "departmentId",
          "in" : "path",
[...]
